.com-zakupki {
    display: block;
    position: relative;
    width: 590px;
    overflow: hidden;
    clear: both;
    font-size: 1px;
}
.com-zakupki h4 {
  margin-bottom: .4em;
}
.okdp-wrapper {
  position: relative;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  color: #353535;
  background: url('./images/735863.png') top left repeat;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.geo {
  margin-top: 1.2em;
}

.dynatree-container {
  padding: 10px !important;
}

.okdp-wrapper hr {
  margin-bottom: 2em;
}

form.okdp-form {
  position: relative;
  width: 100%;
}

.okdp-form__sign {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px 15px;
  margin: 10px;
  margin-left: 0;
  font-size: 12px;
  background: #fafafa;
  background: url('./images/735864.png');
  border: 0;
  border-radius: 4px;
}

.okdp-form__comment {
  position: relative;
  float: left;
  width: 50%;
  height: 200px;
  padding: 20px;
  margin: 10px;
  margin-right: 0;
  font-size: 12px;
  background: #fafafa;
  background: url('./images/735864.png');
  border: 0;
  border-radius: 4px;
}

.okdp-form legend {
  position: relative;
  top: 18px;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1em;
  font-style: oblique;
  color: #999;
  text-align: right;
  text-shadow: 1px 0 1px #bbb;
  border: 0;
}

.okdp-form fieldset>input,.okdp-form fieldset>input:focus,.okdp-form textarea {
  width: 99%;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: Sans-Serif;
  font-style: oblique;
  color: #666;
  text-shadow: 1px 0 3px #bbb;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: 0;

  -webkit-box-shadow: inset -1px 1px 2px #ccc;
  box-shadow: inset -1px 1px 2px #ccc;
}

.okdp-form textarea {
  width: 98%;
  height: 145px;
  padding: 10px 2%;
  margin: 0;

  -ms-overflow-y: scroll;
  overflow-y: scroll;
  font-family: Sans-Serif;
  font-size: 100%;
  font-style: normal;
  color: #666;
  text-shadow: 1px 0 3px #bbb;
  vertical-align: top;
  background: #fcfcfc;
  -webkit-resize: none;
  -moz-resize: none;
  -webkit-resize: none;
  -moz-resize: none;
  resize: none;
}

.okdp-form fieldset>input:focus,.okdp-form textarea:focus {
  -webkit-box-shadow: inset 2px 2px 1px #bbb, inset -2px 0 1px #bbb;
  box-shadow: inset 2px 2px 1px #bbb, inset -2px 0 1px #bbb;
}

.okdp-form__button {
  position: absolute;
  top: 265px;
  right: 11%;
  width: 80px;
  padding: 3px;
  font-family: sans-serif;
  font-size: 11px;
  font-style: oblique;
  color: #666;
  text-shadow: 1px 0 1px #333;
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;

  -webkit-box-shadow: 1px 1px 1px #666;
  box-shadow: 1px 1px 1px #666;
}

.okdp-form__button:active {
  text-shadow: 1px 1px 0 #333;
  background-color: #dcdcdc;

  -webkit-box-shadow: -1px -1px 0 #333;
  box-shadow: -1px -1px 0 #333;
}

.okdp-form input[type=checkbox] {
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.okdp-form input[type="checkbox"]:after {
  font-size: 20px;
  color: #666;
  text-shadow: 1px 0 3px #bbb;
  content: '2713';
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
  filter: alpha(opacity=17);
  opacity: 0.17;
}

.okdp-form input[type="checkbox"]:checked:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}

::focus {
  outline: 0;
}

::-webkit-input-placeholder {
  font-size: 1em;
  font-style: normal;
  color: #999;
  text-shadow: 0 1px 0 #ccc;
}

::-moz-placeholder {
  font-size: 1em;
  font-style: normal;
  color: #999;
  text-shadow: 0 1px 0 #ccc;
}

::ms-placeholder {
  font-size: 1em;
  font-style: normal;
  color: #999;
  text-shadow: 0 1px 0 #ccc;
}

#contactForm {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Floating Label */
.okdp-form__field--wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.8em;
}

.okdp-form__field--wrapper input {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: normal;
}

.okdp-form__field--wrapper label {
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.okdp-form__field--wrapper label.on {
  color: #4481C4;
}

.okdp-form__field--wrapper label.show {
  top: -15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

body {
  /* the following line fixes a blink in chrome https://code.google.com/p/chromium/issues/detail?id=108025 */
-webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.numberCircle {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  font-size: 1em;
  color: #666;
  text-align: center;
  background: #fff;
  border: 2px solid #666;
  border-radius: 999px;
  behavior: url(./PIE.htc);
}

.unhappyMessage {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
  color: #F7334B;
  background: url('./images/735864.png');

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.order-submit {
  display: inline-block;
  width: 209px;
  padding: 20px 64px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .05px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-shadow: 0 -1px #6C7271;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #1abc9c;
  border: 0;
  border-radius: 2px;

  -webkit-box-shadow: inset 0 -1px #238B77,0 1px 2px #3FC7AD;
  box-shadow: inset 0 -1px #238B77,0 1px 2px #3FC7AD;
}

.order-submit:hover {
  background-color: #3FC7AD;

  background-image: -webkit-linear-gradient(top,#3FC7AD,#479283);
  background-image: -moz-linear-gradient(top,#3FC7AD,#479283);
  background-image: -o-linear-gradient(top,#3FC7AD,#479283);
  background-image: -ms-linear-gradient(top,#3FC7AD,#479283);
  background-image: linear-gradient(top,#3FC7AD,#479283);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FC7AD',endColorstr='#479283',GradientType=0);

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

/* Price block */
    .okdp__price {
  display: block;
  clear: both;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
}

.okdp__price-group {
  display: block;
  list-style: none;
    position: relative;
  overflow: hidden;
}

.okdp__price-group-item {
  display: inline-block;
  margin: .2em !important;
  cursor: pointer;
}

.okdp__price-label {
  display: block;
  padding-top: 2.3em;
  width: 90px;
  border-radius: .25em 0 0 0;
  background-color: #eee;
  text-align: center;
  cursor: pointer;

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
}

.okdp__price-cost {
  display: block;
  color: #383838;
  font-size: 1.5em;
}

.okdp__price-period {
  display: block;
  color: #4B4141;
  text-transform: uppercase;
  font-size: .8em;
}

.okdp__price-purchase {
  position: relative;
  display: block;
  margin-top: 1.8em;
  padding: 1em 1em;
  background: #a7d155;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
}

.okdp__price-purchase:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: block;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent #a7d155;
  content: '';

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
}

.okdp__price-purchase:hover {
  background-color: #349B0D;
  color: #fff;
}

.okdp__price-purchase:hover .okdp__price-period {
  color: #fff;
}

.okdp__price-purchase:hover:before {
  border-color: transparent transparent #349B0D;
}

.okdp__price-label:hover {
  background-color: #FFF;
}

.okdp__price-purchase input {
  display: none;
}

.okdp__price-item_active .okdp__price-purchase {
  background-color: #349B0D;
  color: #fff;
}

.okdp__price-item_active .okdp__price-period {
  color: #fff;
}

.okdp__price-item_active .okdp__price-purchase:before {
  border-color: transparent transparent #349B0D;
}

.okdp__price-item_active .okdp__price-label {
  background-color: #FFF;
}


